{% if site.clicky_site_id %}
  <a class="clicky" style="display: none;" title="Real Time Web Analytics" href="http://clicky.com/{{ site.clicky_site_id }}"><img alt="Real Time Web Analytics" src="//static.getclicky.com/media/links/badge.gif" border="0" /></a>
  <script type="text/javascript">
  var clicky_site_ids = clicky_site_ids || [];
  clicky_site_ids.push({{ site.clicky_site_id }});
  (function() {
    var s = document.createElement('script');
    s.type = 'text/javascript';
    s.async = true;
    s.src = '//static.getclicky.com/js';
    ( document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0] ).appendChild( s );
  })();
  </script>
  <noscript><p><img alt="Clicky" width="1" height="1" src="//in.getclicky.com/{{ site.clicky_site_id }}.gif" /></p></noscript>
{% endif %}