<footer class="site-footer">
  {% if site.copyright %}
  <div class="row">
    <div class="span-12">
      <p class="text-center">Copyright &copy; 2014 {{ site.copyright }}</p>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="span-4">
      <ul class="contact-list">
        <li>{{ site.title }}</li>
        <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
      </ul>
    </div>
    <div class="span-4">
      <ul class="social-media-list fa-ul">
        {% if site.facebook_name %}
        <li>
          <a href="https://facebook.com/{{ site.facebook_name }}">
            <i class="fa fa-facebook fa-li fa-lg"></i>
            <span class="username">{{ site.facebook_name }}</span>
          </a>
        </li>
        {% endif %}

        {% if site.twitter_name %}
        <li>
          <a href="https://twitter.com/{{ site.twitter_name }}">
            <i class="fa fa-twitter fa-li fa-lg"></i>
            <span class="username">{{ site.twitter_name }}</span>
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    <div class="span-4">
      <p class="text">{{ site.description }}</p>
    </div>
  </div>
</footer>
